/* ------ GLOBAL -----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.mobile {
    display: none;
}

h1, h2, h3 {
    color: #303030;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.6rem;
    font-weight: 500;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    top: 4rem;
    border: 1px solid #d8d8d8;
}

/* --------- HEADER --------- */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #fff;
    padding: 0 24px;
    min-height: 4rem;
    width: 100%;
}

.logo {
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
}

.logo img {
    height: 40px;
    width: 40px;
}

.clear-grey {
    color: #9b9b9b;
    font-weight: 300;
}

.dark-grey {
    font-weight: 500;
    color: #4a4a4a;
}

ul {
    display: flex;
    padding-top: 0.5rem;
}

ul li {
    list-style-type: none;
    margin-left: 16px;
}

ul li a {
    color: #4a4a4a;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

/* ------ BANNER ------- */
#banner {
    display: flex;
    background-color: #d8d8d8;
}

.banner img {
    width: 100%;
}

.side-banner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto 12px;
    padding: 4rem 1.5rem;
}

.side-banner h1 {
    margin-bottom: 32px;
}

.side-banner h3 {
    margin-bottom: 24px;
}

button {
    border: none;
    margin: 0 auto;
    padding: 0.5rem 7rem;
    background-color: #4a4a4a;
}

button a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

/*body {
    background-color: #dedcd8;
}

.one_row {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

.img_style {
    width: 60%;
    padding-left: 24px;
}

img {
    max-width: 100%;
}

nav {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    height: 64px;
    background-color: white;
}

ul {
    float: right;
}

li {
    display: inline;
    margin-left: 16px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.text {
    padding-left: 24px;
    padding-right: 48px;
    padding-top: 150px;
    width: 40%;
}

.sub_text {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: rgb(70, 67, 67);
}

.head {
    font-size: 24px;
}

button {
    padding: 8px 0;
    border: 2px solid rgb(66, 65, 65);
    width: 75%;
    color: white;
    background-color: rgb(66, 65, 65);
}

.sec_row {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: white;
    display: flex;
}

.sub_text2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: rgb(70, 67, 67);
    padding-left: 24px;
}

.text2 {
    padding-top: 32px;
    width: 40%;
}

.par2 {
    line-height: 2px;
}
*/
