body {
    background-color: #dedcd8;
}

.one_row {
    display: flex;
    margin-top: 32px;
}

.img_style {
    width: 60%;
    margin-left: 24px;
}

img {
    max-width: 100%;
}

nav {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    height: 64px;
    background-color: white;
}

ul {
    float: right;
}

li {
    display: inline;
    margin-left: 16px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.text {
    margin-left: 24px;
    margin-right: 48px;
    margin-top: 150px;
    width: 40%;
}

.sub_text {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: rgb(70, 67, 67);
}

.head {
    font-size: 32px;
}

button {
    padding: 8px 0;
    border: 2px solid rgb(66, 65, 65);
    width: 75%;
    color: white;
    background-color: rgb(66, 65, 65);
}